.reviseddate {
    display: none;
}

.gsc-result .gs-title {
    height: auto;
}

.cse .gsc-webResult.gsc-result,
.gsc-webResult.gsc-result,
.gsc-imageResult-classic,
.gsc-imageResult-column {
    margin-bottom: 0 !important;
}

.gs-result .gs-webResult a.gs-title:link {
    color: #002280 !important;
}

table .t {
    width: 400px;
}

#cse,
#cse-search-results {
    max-width: 100%;
    width: 100%;
}

.gsc-resultsHeader {
    clear: none !important;
}

.cse .gsc-control-cse,
.gsc-control-cse {
    padding: 0 !important;
}

.gsc-control-cse .gs-result .gs-title,
.gsc-control-cse .gs-result .gs-title * {
    font-family: Patua One;
    font-size: 22px !important;
    font-weight: normal;
    color: #002280 !important;
    font-weight: normal;
    margin: 0 0 15px;
}

.gsc-control-cse .gs-spelling {
    margin: 10px 0;
    padding: 0;
    text-decoration: none !important;
    max-height: 25px;
}

.gs-webResult .gs-snippet,
.gs-imageResult .gs-snippet,
.gs-fileFormatType {
    line-height: 1.5em;
    padding: 0;
}

table.gsc-branding td,
table.gsc-branding,
table.gcsc-branding td,
table.gcsc-branding {
    display: none;
}

.gsc-webResult:after {
    display: inline !important;
}

.gsc-table-result,
.gs-promotion-table {
    margin: 10px 0 !important;
    padding: 0 0 20px;
    border-bottom: 1px dotted #666;
}

.gsc-webResult.gsc-result.gsc-promotion {
    border-bottom: 1px dotted #666;
    margin: 0 0 10px;
}

.gs-webResult .gs-snippet,
.gs-imageResult .gs-snippet,
.gs-fileFormatType {
    color: #444;
    font-size: 1.25em !important;
    line-height: 1.7em !important;
    margin: 0 0 15px;
}

#mainContent .gsc-selected-option-container {
    width: 100% !important;
}

.gsc-result .gs-title {
    height: auto !important;
}

.gsc-control-cse .gs-result .gs-title:first-child {
    margin-top: 15px !important;
}

.gsc-thumbnail-inside,
.gsc-table-result,
.gsc-thumbnail-inside,
.gsc-url-top,
.gsc-webResult.gsc-result,
.gsc-imageResult,
.gsc-webResult.gsc-result:hover,
.gsc-imageResult:hover {
    padding: 0 !important;
}

.gsc-expansionArea .gsc-result {
    padding: 0 !important;
}

.gsc-expansionArea .gs-result .gs-title:first-child {
    margin-top: 0px !important;
}

.gsc-results .gsc-cursor-box {
    margin: auto 0;
    padding: 10px 0;
}

.gsc-webResult.gsc-result,
.gsc-webResult.gsc-result:hover {
    border: none !important;
}

.gsc-result-info,
.gsc-cursor-page,
.gsc-orderby-container {
    font-size: 16px !important;
}

.gsc-result-info {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.gs-title,
.gs-title * {
    text-decoration: none !important;
}

.gs-title:hover {
    text-decoration: underline !important;
}
