#RateThisPageForm fieldset
{
	border:none!important;
	margin:0!important;
	padding:0!important;
}

#RateThisPageForm .seFieldCell
{
	width:auto!important;
}

#RateThisPageForm .seLabelCell
{
	text-align:left!important;
	width:80px!important;
}

#RateThisPageForm .seText
{
	margin:0!important;
	text-align:left!important;
}

#RateThisPageForm .seButton
{
	margin:0!important;
}

#RateThisPageFormPOLICE fieldset
{
	border:none!important;
	margin:0!important;
	padding:0!important;
}

#RateThisPageFormPOLICE .seFieldCell
{
	width:auto!important;
}

#RateThisPageFormPOLICE .seLabelCell
{
	text-align:left!important;
	width:80px!important;
}

#RateThisPageFormPOLICE .seText
{
	margin:0!important;
	text-align:left!important;
}

#RateThisPageFormPOLICE .seButton
{
	margin:0!important;
}