.search-internal {
  padding: 1.5px 0;
    
    .search-input, .search-button {
      border: 1px solid #999;
      height: auto;
    }

    .search-input {
      border: 1px solid #666;
      font-size: 1.2em;
      padding: 9px;
    }

    .search-button {
      border:1px solid #666;
      border-radius: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.1em;
      font-weight: 700;
      padding: 9px 10px;
    }
}

.gsc-completion-container,
.gsc-completion-container table,
.gsc-completion-container table td {
  font-size: 16px !important;
  font-weight: normal !important;
}

.gssb_a table, .gssb_a table tr, .gssb_a table tr td {
  padding: 2.5px 5px !important;
}

