<!DOCTYPE html>
<html lang="en-us">

<head>
	<title>CitySourced Mockup</title>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
	    crossorigin="anonymous"></script>
	<script src="/dist/js/templateinside.min.js"></script>
	<script src="/js/page-specific/citysourced-reporter.js"></script>
	<script src="/js/page-specific/citysourced-googleMaps.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

	<link href="/dist/css/inside-responsive.min.css" rel="stylesheet" />
	<link href="/dist/css/citysourced/citysourced-reporter.min.css" rel="stylesheet" />
	<!--[if lte IE 9]>
        <link href="/dist/css/citysourced/citysourced-reporter-ie9.min.css" rel="stylesheet" />
    <![endif]-->

	<style>
		#map {
			height: 350px;
		}
	</style>
</head>

<body>

<!-- START -->

	<div ng-app="baltcogoApp" ng-controller="BaltCoGoViewerCtrl as viewer" ng-cloak>

		<div role="alert" class="bc-citysourced-viewer-alert alert-warning" ng-if="viewer.isError">
			<h2>Report Not Found</h2>
			<p>Sorry, we couldn’t find anything matching the record number <strong id="reportId"></strong>. Please check your number and
				<a href="/iwant/followup.html">enter it again</a>.</p>
			<p>If you’re looking up a report you just submitted, please wait a few minutes and try again. It can take up to five minutes
				for new reports to show up in our system.</p>
		</div>

		<div class="bc-citysourced-reporter">
			<div class="callout_gray" id="citysourced-viewer" ng-cloak>

				<h2>Report Status <span class="{{viewer.IsOpen}}">{{viewer.Status}}</span></h2>
				<dl id="meta">
					<dt>Request ID</dt>
					<dd>{{viewer.id}}</dd>
					<dt>Issue Type</dt>
					<dd>{{viewer.issueType}}</dd>
					<dt>Date Created</dt>
					<dd>{{viewer.dateCreated}}</dd>
					<dt>Last Updated</dt>
					<dd>{{viewer.dateUpdated}}</dd>					
					<dt>Description</dt>
					<dd>{{viewer.description}}</dd>
					<dt>Location</dt>
					<dd>{{viewer.address}}</dd>
				</dl>

				<div id="map" class="google-map"></div>

				<div ng-if="viewer.comments">

					<h3>Comments</h3>

					<ul id="comments">
						<li ng-repeat="comment in viewer.comments">
							<p>{{comment.Text}}</p>
							<div class="attribution">
								<span class="author-name">{{comment.Author}}</span>, <span class="author-date">{{comment.Created}}</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

<!-- END -->


</body>

</html>