.page-banner img {
	border: none;
	margin: 0 0 15px 0;
	padding: 0;
	height: 100% !important;
	width: 100%;
}//Wasns't able to add a class directly to the image

.remove-float {
	float: none !important;
}