.secondary-footer {
	background: $red;
	color: $white;
	padding: 20px 0;

	a {
		color: white;
	}

	.county-links-list-item {
		border-right: 1px solid $white;
        padding: 0 5px;
        margin: 7.5px 0;

		&:last-child {
			border-right:none;
		}
	}
}