[role="tab"] {
    font-family: inherit;
    font-size: inherit;

    display: inline-block;
    /*HACK: Override Red-Inside*/

    width: initial !important;

    margin: 0 0 -2px;

    border: 1px solid lightgray;
    background: $white;

    &[aria-selected="true"] {
        color: $white;

        border-color: $red-hover;
        outline: 0;
        background: $red-hover;
    }

    &[role="tab"]:hover,
    &[role="tab"]:focus {
        color: $white;
        
        outline: 0;
        background: $red;
    }
}

[role="tabpanel"] {
    position: relative;
    z-index: 2;

    padding: 0.5em;

    border: 1px solid lightgray;

    &:focus {
        border-color: $red;
        outline: 0;
    }

    p {
        margin: 0;
    }

    * + p {
        margin-top: 1em;
    }
}