/*Overide Bootstrap padding for row to match Se*/
.nav-tabs {
    border-bottom: none;

}

.btn, .records-info, .page-info {
    font-size: .9em;

}

.app-header h1 {
    margin-bottom: 0;
    padding: 0;

}

#mainContent .active a {
    text-decoration: none;
}

.disclaimer {
    margin-top: 40px;
    padding: 10px;

    border: 1px solid gray;
    background: #F3f3f3;
}

/*Map Stuff*/

.map {
    width: 100%;
}

.map, .map-container, .map-legend {
    height: 525px;
}

.legend-container {
    position: relative;
}

.legend-toggle {
    position: absolute;
    z-index: 99;
    bottom: 10px;
    left: 30px;
}

.actionsPane {
    display: none;
}

.address-label {
    color: #444;
}

.park {
    border-bottom: 2px solid gray;
}

.park:last-child {
    border: none;
}

.trails {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.trails-header-hidden {
    display: none;
}

.trail {
    padding: 10px;

    border: 1px solid lightgray;
}

/*Information about Records*/

#maincontainer .search-container {
    margin: 10px auto;
    padding: 10px;

    background: #e5e5e5;
    width: 100% !important;
}

#map_root {
    width: 100% !important;
}

.search-container label {
    font-size: 1.25em;

    display: block;

    padding: 13px;
}

.filter-container {
    padding: 10px 0;
}

.filter-container-top {
    border-bottom: 3px solid gray;
}

.filter-container-bottom {
    border-top: 3px solid gray;
}

.filter .input {
    font-size: 1.25em;

    padding: 10px;
}

.filter .input span {
    padding: 10px 0;
}

.filter input {
    width: 85%;
}

.clear-filter {
    margin-left: 20px;
}
.prev-page {
    text-align: left;
}

.next-page {
    text-align: right;
}

.initial-message {
    font-size: 1.5em;

    padding: 10px;

    text-align: center;
}

.health-coalition {
    display: inline-block;

    margin: -12.5px auto 10px;

    text-align: right;
}

.map-legend {
    display: none;
}

.map-legend-visible {
    display: block;

    background: white;
}

.park {
    padding: 20px 0;
}

.park-map {
    margin-bottom: 10px;
}

/*Filtery Stuff*/

.paging {
    text-align: center;
}

.show-records {
    text-align: right;
}


.park-address {
    font-style: normal;

    margin-bottom: 10px;
    padding: 10px;

    border: 1px solid #e0e0e0;
}

.loading > p {
    font-size: 1.5em;
}

.back-to-top, .loading > p {
    display: block;

    padding: 10px 0;

    text-align: center;
}

.health-coalition img {
	margin: 0;
	padding: 0;

	border: none;
}

@media (max-width: 600px) {
    #filter {
        width: 100%;
    }
}
