@import '../../../modules/colors';
@import '../../components/heroUnit';
@import '../../components/icons';

.closings {
	margin-bottom: 40px;
}
.county-closings-image-container {
	text-align: center;
}

/*jQuery Datatable Specific Code*/
table.dataTable thead th, table.dataTable thead td  {
  text-align: left;
}
.dataTables_wrapper .dataTables_filter {
  background: $lightest-gray;
  float: none;
  padding: 20px;
  text-align: left;
  
  input {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .closings {
    margin-bottom: 0;
  }
  table.dataTable {
    font-size: 16px;
  }
  
  $closings-stripe-opacity: .5;
  table.dataTable.stripe, table.dataTable.display {
    tbody tr.odd, tbody tr.even, tbody tr.odd > .sorting_1, tbody tr.even > .sorting_1 {
      &.cancelled > td, &.closed > td {
        background-color: rgba($icon-error-color, $closings-stripe-opacity);
      }
      &.open > td, &.operating > td {
        background-color: rgba($icon-success-color, $closings-stripe-opacity);
      }
      &.modified > td {
        background-color: rgba($icon-warning-color, $closings-stripe-opacity);
      }
    }
  }
}
