@import '../../../modules/colors';
@import '../../components/heroUnit';
@import '../../components/icons';

.closings {
	margin-bottom: 40px;
}
.county-closings-image-container {
	text-align: center;
}

// #county-closings {
// 	table-layout: fixed;
// }

/*jQuery Datatable Specific Code*/
table.dataTable thead th, table.dataTable thead td  {
  text-align: left;
}
.dataTables_wrapper .dataTables_filter {
  background: $lightest-gray;
  float: none;
  padding: 20px;
  text-align: left;
  
  input {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  table.dataTable {
    font-size: 16px;
  }
  table.dataTable.stripe, table.dataTable.display {
    tbody tr.odd, tbody tr.even {
      &.cancelled, &.closed {
      background-color: rgba($icon-error-color, .8);
      }
      &.open {
        background-color: rgba($icon-success-color, .8);
      }
      &.modified {
        background-color: rgba($icon-warning-color, .8);
      }
      &.see-website {
        //background-color: rgba($icon-link-color, .8);
      }
    }
}
}
