/*Modules*/
@import "modules/formReset";
/* Partials */
@import "partials/base/base";	
@import "partials/base/typography";
@import "partials/base/header";
@import "partials/base/nav";
@import "partials/base/brand";
@import "partials/base/footer";

@import "partials/components/social";
@import "partials/components/textResizer";
@import "partials/components/buttons";
@import "partials/components/fullSite";
@import "partials/components/skipNav";
@import "partials/components/alert";


@import "partials/bootstrap/insideGrid";
@import "partials/inside/rateForm";
@import "partials/inside/search";

@import "partials/homepage/search";

@import "vendor/reView";



/*This will ensure that the background colors will fill the screen*/
body {
	min-width: 1200px;
}

.agency-page img {
	border: none;
	padding: 0;
	margin: 0;
}
#maincontainer #calloutarea p {
  margin: 10px 0 15px;
}

.secondary-nav .secondary-nav-list {
	padding: 14px 0;
}


textarea,
input[type="search"],
input[type="text"],
input[type="button"],
input[type="submit"] {
		-webkit-appearance: none;
     -webkit-border-radius: 0;
     border-radius: 0;
}
