/*Modules*/
@import "partials/base/normalize";
//@import "modules/formReset";
/* Partials */
@import "partials/base/base";	
@import "partials/base/typography";
@import "partials/base/page";
@import "partials/base/header";
@import "partials/base/nav";
@import "partials/base/brand";
@import "partials/base/footer";

@import "partials/components/alert";
@import "partials/components/social";
@import "partials/components/textResizer";
@import "partials/components/buttons";
@import "partials/components/fullSite";
@import "partials/components/skipNav";
@import "partials/components/navList";
@import "partials/components/callout";
@import "partials/components/blog";
@import "partials/components/blogTabs.scss";

@import "partials/inside/insideGrid";
@import "partials/inside/rateForm";
@import "partials/homepage/search";
@import "partials/inside/search";

@import "vendor/reView";

.agency-page img {
	border: none;
	padding: 0;
	margin: 0;
}
#backgroundgradient {
	max-width: 1000px;
}
#maincontainer #calloutarea p {
  margin: 10px 0 15px;
}

.secondary-nav .secondary-nav-list {
	padding: 14px 0;
}

#backgroundshadow {
	background: #ebebeb;
}
textarea,
input[type="search"],
input[type="text"],
input[type="button"],
input[type="submit"] {
		-webkit-appearance: none;
     -webkit-border-radius: 0;
     border-radius: 0;
}
