/*Modules*/
@import "partials/base/normalize";
//@import "modules/formReset";
/* Partials */
@import "partials/base/base";	
@import "partials/base/typography";
@import "partials/base/page";
@import "partials/base/header";
@import "partials/base/nav";
@import "partials/base/brand";
@import "partials/base/footer";
@import "partials/base/image";

@import "partials/components/table";
@import "partials/components/alert";
@import "partials/components/social";
@import "partials/components/textResizer";
@import "partials/components/buttons";
@import "partials/components/fullSite";
@import "partials/components/skipNav";
@import "partials/components/navList";
@import "partials/components/callout";
@import "partials/components/breadCrumbs";
@import "partials/components/blog";
@import "partials/components/blogTabs.scss";
@import "partials/components/facebookWidget.scss";
@import "partials/components/filter";
@import "partials/components/videoGallery";
@import "partials/components/calendar";
@import "partials/components/rateForm";

@import "partials/inside/insideGrid";
@import "partials/inside/rateForm";
@import "partials/homepage/search";
@import "partials/inside/search";

@import "vendor/reView";

.agency-page img {
	border: none;
	padding: 0;
	margin: 0;
}
#backgroundgradient {
	max-width: 1000px;
}
#maincontainer #calloutarea p {
  margin: 10px 0 15px;
}

#mainContent a {
	line-height: 1.3;
}
#centerContent {
	width: 100% !important;
 	a {
		text-decoration: underline !important;
	}
}
.secondary-nav .secondary-nav-list {
	padding: 14px 0;
}

#backgroundshadow {
	background: #ebebeb;
}
textarea,
input[type="search"],
input[type="text"],
input[type="button"],
input[type="submit"] {
		-webkit-appearance: none;
     -webkit-border-radius: 0;
     border-radius: 0;
}
@media screen and (max-width: 767px) {
	#maincontainer h1 {font-size:1.8em !important;}
	#maincontainer h2 {font-size:1.3em !important;}
	#maincontainer h3 {font-size:1.1em !important;}
	#maincontainer h4 {font-size: 1em !important;}
	#maincontainer h5 {font-size: .9em !important;}
	#maincontainer h6 {font-size: .7em !important;}

	#relatedtopics {
		display: none;
	}
}