#container_localnavigation {

    /* Resets to circumvent red-inside.css */

    ul li ul li a {
        border-bottom: none;
    }
    
    ul li ul li {
        margin: 0;
    }

    /* /Resets */

    .bc-accordion-menu {

        .panel {

            a {
                background: #ebebeb;
                display: block;
                line-height: 1.7em;
                padding: 5px 15px;

                &:hover {
                    background: #feb30c;
                }

            }

            a.accordion-collapsed {

                &:after {
                    border-bottom: 6px solid transparent;
                    border-left: 6px solid #c51110;
                    border-right: none;
                    border-top: 6px solid transparent;
                    content: "";
                    display: inline-block;
                    float: right;
                    height: 0;
                    margin-top: 7px;
                    margin-bottom: 0px;
                    width: 0;
                    overflow: hidden;
                }

                &.active {

                    &:after {
                        border-bottom: none;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-top: 6px solid #c51110;
                        margin-top: 12px;
                        margin-bottom: 3px;
                    }

                }

            }        

            ul {
                list-style: none;
                padding: 0;

                li {

                    a, a:hover, &.inactive {
                        padding: 5px 15px 5px 40px;
                        margin-bottom: 0;
                    }

                    ul {

                        li {

                            a, a:hover, &.inactive {
                                padding: 5px 15px 5px 60px;
                            }

                        }

                    }

                }

            }

            .current {
                background: #feb30c;
            }

        }

        & > .panel {
            margin-bottom: 10px;
        }

    }

}