
@media screen and (max-width: 700px) {
	.blog-tabs ul {
		margin: 0;

		li {

			a {
				display: block;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
}
@media screen and (max-width: 800px) {	
	#SECalendarSearch { 
		clear: both;
		float: left !important;
		max-width: 100% !important;
	}
	.SECalendarSmallCal { 
		clear: both !important;
		width: 100%;
	}
	.SECalendarListEvents { 
		width: 100% !important;}
	.SECalendarFilter { 
		max-width: 100% !important;
	}
}
@media screen and (max-width: 500px) {
	.blog-tabs {
		border-top: 0;
	}
	.blog-tabs ul{
		margin: 0 !important;
	}
	.blog-tabs ul li {
		display: block;
		width: 100%;
	}

// First, Active Item
	.blog-tabs ul li a.active,
	.apply-container ul li a.apply, 
	.followup-container ul li a.followup, 
	.pay-container ul li a.pay, 
	.report-container ul li a.report, 
	.request-container ul li a.request,
// I'm Looking For
	.allinformation-container ul li a.allinformation,
	.residentinformation-container ul li a.residentinformation,
	.businessinformation-container ul li a.businessinformation,
	.governmentinformation-container ul li a.governmentinformation,
	.visitorinformation-container ul li a.visitorinformation,
// I need to contact
	.anagency-container ul li a.anagency,
	.myrepresentative-container ul li a.myrepresentative,
	.anemployee-container ul li a.anemployee,
	.idontknow-container ul li a.idontknow {
		background: $red-hover;

		&:hover {
			background: $red-hover;
		}
	}
	.blog-tabs--snowfighter ul li a.active {
		background: $snowfighter-hover-color;
		color: white !important;

		&:hover {
			background: $snowfighter-hover-color;
		}
	}
	.blog-tabs--police ul li a.active {
		background: $police-hover-color;
		color: white !important;

		&:hover {
			background: $police-hover-color;
		}
	}
}