.facebookfeedbox {
  border: 1px solid #3B5998;
  margin-bottom: 20px;
  width: 100%;

  .description, .itemURL, .feedDetails {
  	display: none;
  }
  ol {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;

	  .item {
		  border-bottom: 1px dotted #666;
		  margin: 0;
		  
		  .title, .description, .extras {
		  	padding: 0 10px;
		  }
		  .title {
		  	font-size: 1.1em !important;
		  	font-weight: normal !important;

		  	a {
				font-size: .96em;
		  	}
		  }
		}
	}
	
	.titlebox {
		  display: block;
		  margin: 0px;
		  line-height: 1.4;
		  padding-top: 40px;
		  padding: 40px 10px 10px;
		  background-image: url(/sebin/q/j/facebook-header.gif );
		  background-position: center 10px;
		  background-repeat: no-repeat;
		  background-color: #3b5998;
		  background-size: 93%; //HACK

		  a {
		  	color: #fff !important;
		  }
		}
		.extras {
		  color: #000;
		  font-size: 0.8em;
		  font-weight: bold;
		}
		.facebookfeedlink {
		  background-color: #3b5998;
		  display: block;
		  margin: 0;
		  color: #fff;
		  padding: 10px;
		}
}