.bc-filter-form {
	position: relative;

	.bc-filter-form-filter {
		width: 100% !important;
		padding-right: 30px;

		&::-ms-clear {
			display: none;
		}

	}

	.icon-search, .icon-clear {
		position: absolute;
		right: 30px;
	}

	.icon-clear {
		top: 0;
		cursor: pointer;
	}

	.icon-search {
		top: 25px;
	}

}

.bc-filter-content {
    position: relative;
	
	ul {
        padding: 0;
        list-style: none;
    }

}