$error-shadow: 0 0 5px $red;

.seCheckbox {
	display: none;
}

.seCheckboxLabel {    
    cursor: pointer;
    
    &.checked::before {
        font-family: FontAwesome;
        content: '\f00c';
        color: black;
    }    

    &.error-field {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    &.error-field::before {
        -webkit-box-shadow: $error-shadow;
        -moz-box-shadow: $error-shadow;
        box-shadow: $error-shadow;
    }    

    &::before {
        font-family: FontAwesome;
        background-color: #eee;
        border: 1px solid #ccc;
        color: transparent;
        content: '\f00c';
        cursor: pointer;
        display: inline-block;
        margin-right: .5em;
        padding: 1px;
        text-align: center;
        width: 20px;
    }
}