#mainContent .seLabelCell {
    padding-top: .5em;
    vertical-align: top;
}

.SEAFGroupVertical > div {
    margin-bottom: .75em;
}

.seCheckbox,
.seRadio {
    display: none;
}

.seCheckboxLabel,
.seRadioLabel {
    cursor: pointer;
    
    &:focus {
        outline: none;
    }

    &::before,
    &.checked::before {
        font-family: FontAwesome;
    }

    &::before {
        background-color: #eee;
        border: 1px solid #ccc;
        color: transparent;
        display: inline-block;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        width: 20px;
    }

    &.checked::before {
        color: #444;
    }
}

.seCheckboxLabel {
    &.checked::before {
        content: '\f00c';
    }
    &::before {
        content: '\f00c';
        margin-right: .5em;
        padding: 1px;
    }
}

.seRadioLabel {
    white-space: nowrap;

    &.checked::before {
        content: '\f111';
    }
    &::before {
        border-radius: 20px;
        content: '\f111';
        font-size: .7em;
        margin-right: 1em;
        padding: 3px;
        vertical-align: 20%;
    }   
}

/* Overrides */
/* TODO - This should be fixed in red-inside.css */
#column3 .seRadioLabel {
    display: inline-block;
    line-height: normal;
    margin-bottom: 6px;
    padding: 0;
}
#mainContent .seRadioLabel {
    font-size: 1em;
    margin-right: 15px;
}