.nav-list {
	line-height: 1.7em;
	margin-bottom: 20px;
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.title, &.in-this-section table tr:first-child td:first-child {
		  padding: 5px 10px;
		  border-top: 6px solid #cacaca;
		  font-weight: bold;
		  text-transform: uppercase;
		  border-bottom: 1px solid #adadad;
		  background-image: none;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
	
	table {
		border-collapse: collapse;
		width: 100%;
		
		/*HACK - removes breaks inserted by Site Executive*/
		br {
			display: none;
		}

		a {
			background: url(/sebin/q/r/most-requested-arrow.gif) 
						no-repeat
						left 
						center;
			background-position-x: 5px;
			border-bottom: 1px solid #ADADAD;
			display: block;
			padding: 5px 0 5px 30px;

			&:hover {
				  margin: 0;
				  padding: 5px 0 5px 30px;
				  text-decoration: underline;
				  display: block;
				  background: url(/sebin/m/n/most-requested-arrow-hover.gif) no-repeat left center;
				  background-position-x: 5px;
			}
		}
	}
}
