.tulipMain {
	line-height: 1;
}
.tulipMain img {
	border: none;
	padding: 0;
	margin: 0;
}
.tulipTVPlayerContainerTitle {
	color : #feb30c;
	font-size : 1.3em;
	font-weight : bold;
	margin : 10px 15px;
}
.tulipTVPlayerContainerDuration {
	font-weight : bold;
	margin : 0 5px 5px 15px;
	border-right : 1px solid #999;
	color : #c51110;
	display : inline;
	float : left;
	padding : 0 5px 0 0;
}
.tulipTVPlayerContainerDate {
	color : #c51110;
	font-weight : bold;
}
.tulipTVPlayerContainerDesc {
	color : #ccc;
	clear : both;
	margin : 0 0 0 15px;
}

#tulipTVChannelChoiceName {
	font-size : 1.3em;
	font-weight : bold;
	margin : 15px 0;
}
.tulipTVThumbLink {
	margin : 0 10px 20px 0;
	display : inline;
}
.tulipTVThumbMeta {
	padding : 0 0 10px;
}
.tulipTVThumbTitle {
	font-weight : bold;
	margin : 10px 0 10px 0;
}
.tulipTVThumbDuration {
	display : inline;
	float : left;
	margin : 0 5px 5px 0;
	padding : 0 5px 0 0;
	font-weight : bold;
	border-right : 1px solid #000;
}
.tulipTVThumbDesc {
	margin : 7px 0 20px;
}
#did9206157 object {
	padding : 10px;
	background-color : $red;
}
#singlePlayerContainer {
	width : 310px;
	background-color : #dedede;
	padding : 65px 0 15px;
	height : auto;
	text-align : center;
	background-image : url(http://baltimorecountymd.gov/sebin/x/m/video_small_background.jpg);
	background-position : top center;
	background-repeat : no-repeat;
	border : 1px solid #666;
}
div#tulipTVThumbs div.tulipShow {
	margin : 5px;
	padding-top : 10px;
	border : 1px solid #999;
	height : 250px;
	float : left;
	padding : 10px;
}
.tulipMain hr {
	display : none;
}
#tulipTVPlayerContainer {
	margin : 20px 0;
	background-color : #000;
	padding : 0 0 15px;
	background-image : url("http://baltimorecountymd.gov/sebin/q/v/header_media_exec.gif");
	background-position : top left;
	background-repeat : no-repeat;
}
.tulipTVThumbDate {
	font-weight : bold;
}
.vidheaderAnsweringTheCall {
	background-image : url(http://baltimorecountymd.gov/sebin/g/w/header_answeringthecall.gif);
	background-position : top left;
	background-repeat : no-repeat;
}
.tulipShow {
	border : 1px solid #999;
	padding : 10px;
	float : left;
	height : 250px;
	margin : 5px;
}
#tulipTVPlayerDiv, #tulipTVPlayerContainer {
  max-width: 480px;
  width: 100% !important;
}
#tulipTVPlayerDiv object {
	width: 100% !important;
}