$youTubePlayListItemWidth: 30%;

.youtube-playlist-item {
    background: white;
    box-shadow: 1px 1px 4px #999;
    float: left;
    margin: 10px;
    position: relative;
    width: $youTubePlayListItemWidth;

    figure {
        margin: 0;

        .fa-play-circle-o {
            text-shadow: 1px 1px 4px #000;
            color: white;
            font-size: 3em;
            left: 45%;
            position: absolute;
            top: 30%;
            z-index: 100;
        }

        img {
            border: 0 !important;
            margin: 0 !important;
            padding: 0;
            width: 100%;
        }

        figcaption {
            clear: both;
            padding: .5em;

            p {
                margin: 0 !important;
                padding: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

        }
        
        a:hover {
            .fa-play-circle-o {
                color: $gold;
            }
        }

    }
}

.loadMoreButton, #maintContent .loadMoreButton {
    clear: both;
    display: block;
    margin: 10px;
    width: auto;
}

@media (max-width: 992px) {
    .youtube-playlist-item {
        width: 47%;

        figure {
            .fa-play-circle-o {
                left: 46%;
                top: 35%;
           }
        }
    }
}

@media (max-width: 767px) {
    .youtube-playlist-item {
        width: 96%;

        figure {
            .fa-play-circle-o {
                left: 48%;
                top: 43%;
            }
        }
   }
}