@import "stylesheets/modules/all";

.bc-citysourced-reporter {

    ol {
        display: flex;
        list-style-position: inside;
        margin: 0; 
        padding: 0;

        li {
            background-color: $lightest-gray;
            color: $dark-gray;
            flex: 1 1 auto;
            margin: 0 10px;
            padding: 0 15px;
            height: 50px;
            line-height: 50px;
            position: relative;

            &:after, &:before {
                content: "";
                height: 0;
                position: absolute;                
                width: 0;

            }

            &:after {
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;  
                border-left: 15px solid $lightest-gray;
                right: -15px;
            }

            &:before {
                border-top: 25px solid $lightest-gray;
                border-bottom: 25px solid $lightest-gray;  
                border-left: 15px solid transparent;
                left: -15px;
            }
        }

        li:first-child {
            margin-left: 0;

            &:before {
                border: none;
            }
        }

        li:last-child {
            list-style: none;
            margin-right: 0;

            &:after {
                border: none;
            }
        }
    }    

    .google-map {
        height: 350px;
        width: 500px;
    }

    .error {
        box-shadow: 0 0 3px $red;
    }
}

@media (max-width: 500px) {
    .bc-citysourced-reporter {
        ol {
            display: block; 

            li {
                display: list-item;
                float: none;
                height: auto;
                line-height: 1.4em;
                margin: 0 0 2px 0;
                padding: .5em;
                width: 100%;

                &:before, &:after {
                    display: none;
                }
            }

            li:last-child {
                display: none;
            }
        }
    }
}