@import "stylesheets/modules/all";

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#mainContent {

    .bc-citysourced-reporter {

		h2 {
			margin-top: 0;
		}

		.open, .closed {
			font-weight: bold;
			text-transform: uppercase;
		}

		.open {
			color: $icon-success-color;
		}

		.closed {
			color: $red;
		}

		dl {
			dt {
				float: left;
				font-weight: bold;
				width: 40%;
			}

			dd {
				float: left;
				margin: 0 0 1.5em;
				width: 60%;
			}
		}

		.google-map {
			display: block;
			height: 350px;
			margin: 0 10px 20px;
			border: 1px solid #ccc;
			border-radius: 10px;
		}

		#comments {				
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				padding: 1.5em;
				border-radius: 10px;
				background-color: #fcfcfc;
				margin: 0 10px 20px;
				border: 1px solid #ccc;

				p { 
					margin: 0;
				}

				.author-name {
					font-weight: bold;
				}

				.author-date {
					font-style: italic;
				}
			}

		}

	}

}