$black: #000;
$img-border-gray: #ccc;
$lightest-gray: #ebebeb;
$light-gray: #dbdbdb;
$dark-gray: #444;
$darker-gray: #333;
$navy: #002280;
$light-blue:  #0033cc;
$dark-red: #990000;
$red:#c51110;
$gold:#feb30c;
$white: #fff;

$link-color: $navy;
$alert-link-hover: #003399;

$base-font-color: $dark-gray;