/*Type*/
$default-font-family: Arial, Helvetica, sans-serif;
$brand-font-family: Lato, Arial, sans-serif;
$headline-font: 'Patua One', sans-serif;
$carousel-font: 'slick';

/*Images*/
$little-arrow: "//baltimorecountymd.gov/sebin/l/t/little-arrow.png";